@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');


.main-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.image {
    width: 580px;
  }
