@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');

:root{
    --primary-color: #000000;
    --second-color: rgba(255, 255, 255, 0.10);
    --distak-color: #21D87D;
    --primary-text-color: #F2F2F2;
    --color-hover: #040E1D;
}

* {
  margin: 0;
  padding: 0;
}
/* este código com * serve para resetar o css de todos os elementos */

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background: var(--second-color);
  padding: 16px 5%;
}

.menu {
  display: flex;
  gap: 80px;
}

.items {
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  &:focus {
    color: var(--distak-color);
  }
}

.presentation {
  flex:1;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 610px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.distak-title {
  color: var(--distak-color);
}

.main-text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.contact{
  width: 100%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

}

.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@keyframes pulseButton {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.social-button {
  color: var(--primary-text-color);
  width: 120px;
  padding: 20px 78px;
  border-radius: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-decoration:none;
  border: 2px solid var(--distak-color);

  &:hover {
    background-color: var(--color-hover);
  }
}

.animation-button {
  animation: pulseButton 2s ease 0s infinite normal forwards;
}

.image-overflow {
    overflow: hidden;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.image-index {
  width: 580px;
  
}

.footer {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
}

.footer-text {
  color: var(--primary-text-color);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 24px;
}
