@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');

:root{
    --primary-color: #11090f;
    --second-color: #271122;
    --gradient-color1: #3b114d;
    --gradient-colo2: #503b5e;
    --distak-color: #F99417;
    --primary-text-color: #F5F5F5;
    --color-hover: #753981;
}

* {
  margin: 0;
  padding: 0;
}
/* este código com * serve para resetar o css de todos os elementos */

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 9%;
}

.header {
  background: var(--second-color);
  padding: 16px 5%;
  width: 100%;
}

.menu {
  display: flex;
  gap: 80px;
}

.items {
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  &:focus {
    color: var(--distak-color);
  }
}

.presentation {
  flex:1;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background: linear-gradient(150deg, var(--primary-color) 33%, var(--gradient-color1) 76%, var(--gradient-colo2) 100%);
  width: 100%;
}


.content {
  max-width: 610px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.distak-title {
  color: var(--distak-color);
}

.main-text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.contact{
  width: 100%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

}

.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@keyframes pulseButton {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.social-button {
  color: var(--primary-text-color);
  width: 120px;
  padding: 20px 78px;
  border-radius: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-decoration:none;
  border: 2px solid var(--distak-color);

  &:hover {
    background-color: var(--color-hover);
  }
}

.animation-button {
  animation: pulseButton 2s ease 0s infinite normal forwards;
}

.image-box {
    overflow: hidden;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.image {
  max-width: 580px;
  width: 100%;
  height: 100%;
  
}

.footer {
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  padding: 8px 5%;
 
}

.footer-text {
  color: var(--primary-text-color);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 24px;
}

.hidden-desk {
  display: none;
}
.hidden-mobile {
  display: flex;
}

@media (max-width: 1200px) {
  .hidden-desk {
    display: flex;
  }
  .hidden-mobile {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    gap: 5px;
    width: 100%;
    justify-content: space-between;
  }

  .items {
    align-items: center;
    width: fit-content;
    text-align: center;
    font-size: 1rem;
  }

  .items.hidden-desk {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .presentation {
    flex-direction: column-reverse;
  }

  .social {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .social-button {
    max-width: 100%;
  }

  .image-box {
    width: 250px;
    height: 250px;
  }

  .image {
    width: 250px;
    height: 250px;
    bottom: 65px;
  }
 

}